<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Meals</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Ctering</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/menu}">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/cart}">Zamówienie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contact}">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/calcbmi}">Kalkulator BMR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <h2>All Meals</h2>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Calories</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="meal : ${meals}">
      <td th:text="${meal.id}"></td>
      <td th:text="${meal.name}"></td>
      <td th:text="${meal.description}"></td>
      <td th:text="${meal.category}"></td>
      <td th:text="${meal.price}"></td>
      <td th:text="${meal.calories}"></td>
      <td>
        <a th:href="@{'/cart/add/fromcart/' + ${meal.id}}" class="btn btn-primary btn-sm">Add to Cart</a>
        <a th:href="@{'/menu/edit/' + ${meal.id}}" class="btn btn-primary btn-sm">Edit</a>
        <a th:href="@{'/menu/delete/' + ${meal.id}}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/menu/add}" class="btn btn-success">Add Meal</a>
</div>
<footer class="footer mt-5">
  <div class="container">
    <hr>
    <p>&copy; 2023 Ctering. Wszelkie prawa zastrzeżone.</p>
  </div>
</footer>
</body>
</html>
l>